.manage-left-panel{
    margin:0 20px;
    .sidemenu{
        position: sticky;
        top: 4.5rem;
        height: 85vh;
        background-color: white;
    }
}

.user-info-table{
    margin: 0 auto;
}