.manage-left-panel{
    position: fixed;
    left:-2000px;

    @include widescreen {
        position: sticky;
    }

    margin:0 20px;
    .sidemenu{
        position: sticky;
        top: 4.5rem;
        height: 85vh;
        background-color: white;
    }
}

.user-info-table{
    margin: 0 auto;
    @include desktop,tablet, mobile {
        overflow-x: scroll;
    }
}