.user-manage-tile{
  background-color: $link;
  color: white;
  padding:20px;
  margin: -0.75rem;
  margin-bottom: 20px;
  font-weight: bold;
  box-shadow: 0px 3px 5px 0px rgba(194,192,194,1);
}

.create-user-header{
  border-bottom: $grey-light 1px solid;
  margin: 20px 0px;
  padding: 10px 20px;
  font-weight: bold;
}

.recent-act-header{
  background-color: $grey-light;
  color: white;
  padding: 0.75rem;
}

.submenu{
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.is-close{
  max-height: 0;
  margin-top:0;
  margin-bottom:0;
}
.is-open{
  max-height: 72px;
  margin-top:0.75em;
  margin-bottom:0.75em;
}
.assign-role-header{
  border-bottom: $grey-light 1px solid;
  margin: 0px;
  padding: 10px 20px;
  font-weight: bold;
}
